<div class="row"><div class="col"><table class="table">
  <thead>
    <tr>      
      <th scope="col">Trip Name</th>
      <th scope="col">From </th>
      <th scope="col">To</th>
    </tr>
  </thead>
  <tbody>
    {{#each trips}}
    <tr class="trip-data">
      <th><button  class="btn btn-toggle get-destinations-all" value ={{id}} > {{tripName}}</button></th>
      <td>{{tripStartDate}}</td>
      <td>{{tripEndDate}}</td>       
    </tr>
       {{/each}}
  </tbody>
</table></div><div class="col" id="destinations-table"></div></div>



<div class="row mt-5">
  <div class="col-12">

    <div class="card">
      <div class="card-header">
        <h2>My Reviews</h2>
      </div>
      <ul class="list-group">
        {{#each reviews}}
        <li class="list-group-item">
          {{titleCategory}} &emsp;
          {{rating}}
        </li>
        {{/each}}

      </ul>
    </div>

  </div>
</div>